{box-sizing: border-box;}

.login-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    top: 23px;
    right: 28px;
    width: 100px;
  }

.register-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    top: 23px;
    right: 175px;
    width: 100px;
  }

.search-bar {
    display: flex;
    align-items: center;
  }
  .search-field {
    padding: 5px;
    border: 1px solid #ccc;

    outline: none;
  }
  .search-button {
    padding: 6px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;

    cursor: pointer;
    outline: none;
  }