<!DOCTYPE html>
<html>
<head>
  <Title>Movie Review Website</Title>
  <link rel="stylesheet" href="static/style.css">
    
      </head>
<body>
  <div class="top">
    <h1><a href="{{ url_for('index') }}">Larryboxd</a></h1>
    
    
    <div class = "login">
        <button>
         <a href="{{ url_for('login') }}">
          <span>
            Login
          </span>
        </a> </button></div>
        <div class = "register">
        <button>
         <a href="{{ url_for('create_account') }}">
          <span>
            Sign Up
          </span>
        </a> </button></div>
        <div class = "logout">
        <button>
          <a href="{{ url_for('logout') }}">
           <span>
             Logout
           </span>
         </a> </button></div>
</div>

<body>
<div class="main">
  <span><p></p></span>

  <div class="grayBox">
    <h2>Create Review Page</h2>
  <form action="/create_review" method="post">
      <!-- Input field for mood score (integer 0 to 10) -->
      <label for="score">Score (0-10):</label><br>
      <input type="number" id="score" name="score" min="0" max="10"><br>
      <span><p></p></span>
      <!-- Input field for note (255 characters max) -->
      <label for="notes">Notes (max 255 characters):</label><br>
      <textarea id="notes" name="notes" rows="4" cols="50" maxlength="255"></textarea><br><br>

      <!-- Submit button -->
      <input type="submit" value="Submit">
      <span><p></p></span>
    </form>
  </div>
</div>
</body>
</html>