<!DOCTYPE html>
<html>
<head>
  <Title>Movie Review Website</Title>
  <link rel="stylesheet" href="static/style.css">
    
      </head>
<body>
  <div class="top">
    <h1><a href="{{ url_for('index') }}">Larryboxd</a></h1>
    
    
    <div class = "login">
        <button>
         <a href="{{ url_for('login') }}">
          <span>
            Login
          </span>
        </a> </button></div>
        <div class = "register">
        <button>
         <a href="{{ url_for('create_account') }}">
          <span>
            Sign Up
          </span>
        </a> </button></div>
        <div class = "logout">
        <button>
          <a href="{{ url_for('logout') }}">
           <span>
             Logout
           </span>
         </a> </button></div>
</div>
<div class="main">
  <span><p></p></span>
    <div class="grayBox">
      <h2>
        Create Account
      </h2>

        <form action="/account_success" method = "post">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username"><br>
            
            <label for="password">Password:</label><br>
            <input type="text" id="password" name="password"><br>

            <label for="favorite_movie">Favorite Movie:</label><br>
            <input type="text" id="favorite_movie" name="favorite_movie"><br>

            <label for="age">Age:</label><br>
            <input type="text" id="age" name="age"><br> <br>
            
            <input type="submit" value="Create Account">
            <span><p></p></span>
          </form>
    </div>
  </div>
</body>
</html>