<!DOCTYPE html>
<html>
<head>
<Title>Movie Review Website</Title>
<link rel="stylesheet" href="static/style.css">

</head>


<body>
    
<div class="top">
    <h1><a href="index.html">Larryboxd</a></h1>
    
    
    <div class = "login">
        <button>
         <a href="{{ url_for('login') }}">
          <span>
            Login
          </span>
        </a> </button>
        <span><p></p></span>
        <button>
         <a href="{{ url_for('create_account') }}">
          <span>
            Sign Up
          </span>
        </a> </button>
    </div>
</div>


<div class= "main">
<span><p></p></span>
<form action="/movie_title_search" method="post">
<div class="search-bar">
  <input type="text" class="search-field" name="title" placeholder="Movie Title">
  <input type="text" class="search-field" name="director" placeholder="Director">
  <input type="text" class="search-field" name="year_released" placeholder="Year Released">
  <button type="submit" value="Submit">Search</button>
</div>
</form>
<span><p></p></span>
<div class='today'> <form action="/process_form" method="post"><button type="submit" name="date" value="${fullDate}">${i}</button></form></div>
<span><p></p></span>
<img src = "static/images/images.jpg" >
</div>
</body>
</html>