<!DOCTYPE html>
<html>
<head>
<Title>Movie Review Website</Title>
<link rel="stylesheet" href="static/style.css">
</head>
<body>
<h1><a href="index.html">Larryboxd</a></h1>
 <!-- Login Button -->
 <button>
 <a href="{{ url_for('login') }}">
  <span>
    Login
  </span>
</a> </button>
<div class="detail-box">
    <div class="heading_container">
      <h2>
        Login
      </h2>
    </div>
        <form action="/login_info" method = "post">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username"><br>
            
            <label for="lname">Password:</label><br>
            <input type="text" id="password" name="password"><br><br>
            
            <input type="submit" value="Submit">
          </form>
    <div class="btn-box">
</body>
</html>