<!DOCTYPE html>
<html>
<head>
  <Title>Movie Review Website</Title>
  <link rel="stylesheet" href="static/style.css">


</head>
<body>

<div class="top">
<h1><a href="{{ url_for('index') }}">Larryboxd</a></h1>
 <!-- Login Button -->
 <div class = "login">
  <button>
   <a href="{{ url_for('login') }}">
    <span>
      Login
    </span>
  </a> </button>
  <span><p></p></span>
        <button>
         <a href="{{ url_for('create_account') }}">
          <span>
            Sign Up
          </span>
        </a> </button>
</div>
</div>
<div class="main">
  <span><p></p></span>
  <div class = "grayBox">
      <h2>
        Login
      </h2>
        <form action="/login_info" method = "post">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username"><br>
            <span><p></p></span>
            <label for="lname">Password:</label><br>
            <input type="text" id="password" name="password"><br><br>
            
            <input type="submit" value="Submit">
            <span><p></p></span>
          </form>

    </div>
</body>
</html>