<!DOCTYPE html>
<html>
<head>
<Title>Movie Review Website</Title>
<link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div class="top">
        <h1><a href="{{ url_for('index') }}">Larryboxd</a></h1>
        
        
        <div class = "login">
            <button>
             <a href="{{ url_for('login') }}">
              <span>
                Login
              </span>
            </a> </button></div>
            <div class = "register">
            <button>
             <a href="{{ url_for('create_account') }}">
              <span>
                Sign Up
              </span>
            </a> </button></div>
            <div class = "logout">
            <button>
              <a href="{{ url_for('logout') }}">
               <span>
                 Logout
               </span>
             </a> </button></div>
    </div>
    <div class="body"></div>
    <span><p></p></span>
        <div class = "grayBox">
        <p>Review Successfully Created!</p><br>


        <form action="/" method= "post">
            <input type="submit" value="Click Here to Return to Home">
            <span><p></p></span>
        </form>
        </div>
    </div>
</body>
</html>