<!DOCTYPE html>
<html>
<head>
<Title>Movie Review Website</Title>
<link rel="stylesheet" href="../static/style.css">
</head>

<body>
    
    <div class="top">
        <h1><a href="index.html">Larryboxd</a></h1>
    </div>    

    <div class="body"></div>
    <span><p></p></span>
        <div class = "grayBox">
        <p>Review Successfully Created!</p><br>


        <form action="/" method= "post">
            <input type="submit" value="Click Here to Return to Home">
            <span><p></p></span>
        </form>
        </div>
    </div>
</body>
</html>